* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}


header {
  background-color: #5a518a;
  color: #fff;
}


nav {
  padding: 20px;
  background-color: rgba(85, 80, 134, 1);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.nav-container {
  display: flex;
  margin-top: 140px;
}


a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: #5a518a;
    padding: 20px;
}

.navbar {
    max-width: 1200px;
    margin-left: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.logo {
    height: 80px;
    margin-right: 200px;
    display: block;
}

.intro {
    text-align: center;
    padding: 0 20px;
}

.intro h1 {
    color: #5a518a;
    font-weight: bold;
    margin-bottom: 10px;
}

.descricao {
    color: #5a518a;
    max-width: 700px;
    margin: 0 auto 60px;
    font-size: 16px;
    line-height: 1.6;
}

.estatisticas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
}

.bloco {
    width: 80%;
    max-width: 800px;
    padding: 25px 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}


.roxo-escuro {
    background-color: #5a518a;
    margin-inline-start: 600px;
    margin-inline-end: 0;
}

.roxo-medio {
    background-color: #7664d4;
    margin-inline-end: 600px;
    margin-inline-start: 0;
}

.roxo-claro {
    background-color: #c3baf4;
    color: #ffffff;
    margin-inline-start: 600px;
    margin-inline-end: 0;
}

.roxo-escurodois {
    background-color: #5a518a;
    color: #fff;
    margin-inline-end: 600px;
    margin-inline-start: 0;
}

a {
    justify-content: center;
    margin-right: 170px;
}